/* Normal */

div.highlight {
  border: 1px solid #FC4290;
}

/* Background */ .chroma { 
  /*color: #f8f8f2; 
  background-color: #272822; */
  color: #341D24; 
  background-color: #fff;
}

/* Operator */ .chroma .o , 
/* OperatorWord */ .chroma .ow { 
  /*color: #f92672;*/
  color: #B8396C;
}

/* LiteralDate */ .chroma .ld,
/* LiteralString */ .chroma .s,
/* LiteralStringAffix */ .chroma .sa,
/* LiteralStringBacktick */ .chroma .sb,
/* LiteralStringChar */ .chroma .sc,
/* LiteralStringDelimiter */ .chroma .dl,
/* LiteralStringDoc */ .chroma .sd,
/* LiteralStringDouble */ .chroma .s2,
/* LiteralStringHeredoc */ .chroma .sh,
/* LiteralStringInterpol */ .chroma .si,
/* LiteralStringOther */ .chroma .sx,
/* LiteralStringRegex */ .chroma .sr,
/* LiteralStringSingle */ .chroma .s1,
/* LiteralStringSymbol */ .chroma .ss { 
  /*color: #e6db74;*/
  color: #FC8ED2;
}

/* Keyword */ .chroma .k,
/* KeywordConstant */ .chroma .kc,
/* KeywordDeclaration */ .chroma .kd,
/* KeywordPseudo */ .chroma .kp,
/* KeywordReserved */ .chroma .kr,
/* KeywordType */ .chroma .kt,
/* NameConstant */ .chroma .no { 
  /*color: #66d9ef*/ 
  color: #D57F1B;
}

/* NameAttribute */ .chroma .na,
/* NameClass */ .chroma .nc,
/* NameDecorator */ .chroma .nd,
/* NameException */ .chroma .ne,
/* NameFunction */ .chroma .nf,
/* NameOther */ .chroma .nx, 
/* GenericInserted */ .chroma .gi {
  /*color: #a6e22e;*/
  color: #FC4290; 
}

/* Literal */ .chroma .l,
/* LiteralStringEscape */ .chroma .se,
/* LiteralNumber */ .chroma .m,
/* LiteralNumberBin */ .chroma .mb,
/* LiteralNumberFloat */ .chroma .mf,
/* LiteralNumberHex */ .chroma .mh,
/* LiteralNumberInteger */ .chroma .mi,
/* LiteralNumberIntegerLong */ .chroma .il,
/* LiteralNumberOct */ .chroma .mo { 
  /*color: #ae81ff;*/
  color: #96778A;
}

/* Comment */ .chroma .c,
/* CommentHashbang */ .chroma .ch,
/* CommentMultiline */ .chroma .cm,
/* CommentSingle */ .chroma .c1,
/* CommentSpecial */ .chroma .cs,
/* CommentPreproc */ .chroma .cp,
/* CommentPreprocFile */ .chroma .cpf,
/* GenericSubheading */ .chroma .gu { 
  /*color: #75715e;*/
  color: #97849A;
}

/* LineHighlight */ .chroma .hl { 
  display: block; 
  width: 100%;
  /*background-color: #ffffcc;*/
  background-color: #FEDDF5;
}

/* KeywordNamespace */ .chroma .kn,
/* NameTag */ .chroma .nt,
/* GenericDeleted */ .chroma .gd { 
  /*color: #f92672;*/
  color: #B84054;
}


/* Error */ .chroma .err { 
  color: #960050; 
  background-color: #1e0010 
}


/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericStrong */ .chroma .gs { font-weight: bold }

